<!doctype html>

<head>
        <title>Welcome Flask App</title>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">


</head>

<h1>THIS IS MY ROOT PAGE!</h1>

<body>
     
<div>   
        <p>Please enter your name.</p>

        <form class="pure-form" method="POST" action="/">
        Name:<br>
        <input type="text" name="username"><br>
        Favorite Food:<br>
        <input type="text" name="userfood"><br>
        <button type="submit" class="pure-button-primary" value="submit">Submit</button>
        </form>
</div>

<br>

<div>
        {% if name %}
                <p>Welcome to my site {{ name }}!</p>
                <p>Your Favorite food is {{ food }}!</p>
        {%endif %}
</div>

</body>
